<div class="post-preview">
  <h3 class="post-preview-title">
    <a href="{{url}}">
      {{{title}}}
    </a>
  </h3>
  <p class="post-preview-excerpt">{{excerpt}}...</p>
  <time class="post-preview-date" datetime="{{date format='MMMM-YYYY'}}">
    <a href="{{url}}">Updated {{date format="MMM. Do YYYY"}}</a>
  </time>
</div>
