{{!< default}}

<header class="home-hero">
  <h1 class="home-hero-title">Get your first Victory Royale today!</h1>
  <p class="home-hero-content">
    Play until you win with our top-notch coaching team.
    You’ll learn great strategies & tactics to level up your skills,
    while having a ton of fun.
  </p>
  <a href="https://calendly.com/fnvictorycamp/1hr-session" target="_blank" class="button button-white home-hero-button">Schedule a Victory Session</a>
</header>

<div class="container">
  <main class="content">

    <section class="blog" name="blog" id="blog">
      <h3>Latest Guides</h3>
      {{#foreach posts}}
        <div class="post-preview">
          <h2 class="post-preview-title">
            <a href="{{url}}">
              {{{title}}}
            </a>
          </h2>
          <p class="post-preview-excerpt">{{excerpt}}...</p>
          <time class="post-preview-date" datetime="{{date format='MMMM-YYYY'}}">
            <a href="{{url}}">Updated {{date format="MMM. Do YYYY"}}</a>
          </time>
        </div>
      {{/foreach}}
    </section>

  </main>
</div>
